name: my-project

services:
  app: 
    container_name: django-react-template
    command: /app/entrypoint.sh
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  postgres:
    image: postgres
    container_name: postgres-container
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"] # Checks if the DB is ready
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
        POSTGRES_DB: postgres
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres  
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/postgres/data

  redis:
    image: "redis:alpine"
    container_name: redis-container
    restart: unless-stopped
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"] # Simple check for Redis
      interval: 1s
      timeout: 3s
      retries: 5
    volumes:
      - redis_data:/data

  celery:
    build: .
    container_name: celery-container
    command: celery -A core worker -E -l info
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  flower:
    build: .
    container_name: flower-container
    command: celery -A core flower --base_auth=admin:password123
    ports:
      - "5555:5555"
    depends_on:
      redis:
        condition: service_healthy

  beat:
    build: .
    container_name: beat-container
    command: celery -A core beat -l INFO --scheduler django_celery_beat.scheduler:DatabaseScheduler
    volumes:
      - .:/app

    depends_on:
      postgres: 
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
 postgres_data:
 redis_data: