/* Common SVG animation */
.loader {
  width: 10%;
  height: 10%;
  transform: rotate(-90deg);
  transform-origin: center;
  --active: var(--primary);
  --track: #d4f4fe;
  --duration: 8s;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.active {
  stroke: var(--active);
  stroke-linecap: round;
  stroke-dashoffset: 360;
  animation: active-animation var(--duration) ease-in-out infinite;
}

.track {
  stroke: var(--track);
  stroke-linecap: round;
  stroke-dashoffset: 360;
  animation: track-animation var(--duration) ease-in-out infinite;
}

/* Full-screen loader */
.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--spinner-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Component-level loader */
.local-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* allows interaction with parent */
  z-index: 10;
}
